## Multivariate Linear Regression Exercise

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
import math
from word2number import w2n

# Load the dataframe

In [28]:
training_data = pd.read_csv('hiring.csv')
training_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

### Handle missing inputs in the training data

In [29]:
def str_to_num(s):
  try:
    num = w2n.word_to_num(s)
    return num
  except Exception as e:
    print(e)
    print(s)
    return 0

training_data['experience'] = training_data["experience"].apply(str_to_num)
training_data['test_score(out of 10)'] = training_data['test_score(out of 10)'].fillna(training_data['test_score(out of 10)'].median())
training_data

Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')
nan
Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')
nan

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

## Train a Linear Regression model on the training data

In [33]:
lr_model = linear_model.LinearRegression()
lr_model.fit(training_data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], training_data['salary($)'])
lr_model.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [34]:
lr_model.predict([[2, 9, 6]])

/home/abrar/.miniconda/envs/tf/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [32]:
!pip install word2number

/bin/bash: /home/abrar/.miniconda/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)

Requirement already satisfied: word2number in /home/abrar/.miniconda/envs/tf/lib/python3.9/site-packages (1.1)