## Multivariate Linear Regression

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
import math

# Load the dataframe

In [3]:
training_data = pd.read_csv('homeprices_multivariate.csv')
training_data.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Handle missing inputs in the training data

In [11]:
bedrooms_median = math.floor(training_data.bedrooms.median())
training_data.bedrooms = training_data.bedrooms.fillna(bedrooms_median)
training_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

## Train a Linear Regression model on the training data

In [14]:
lr_model = linear_model.LinearRegression()
lr_model.fit(training_data[['area', 'bedrooms', 'age']], training_data['price'])
lr_model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
lr_model.predict([[3200, 4, 40]])

/home/abrar/.miniconda/envs/tf/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([544209.62004667])

In [18]:
!pip install word2number

/bin/bash: /home/abrar/.miniconda/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5566 sha256=8b2fefb028be00a2f8a5df02385ae10d3945a6421aaf7a243e469a04309ab9cd
  Stored in directory: /home/abrar/.cache/pip/wheels/a0/4a/5b/d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1